html{
 background-color: black;
}
img{
  position: relative;
  top: 75px;
  width: 650px;
  height: 500px;
  float: right;
  padding: 110px;
}
.content-wrap{
  position: relative;
  top: 70px;
  left: 60px;
  font-family: 'Nunito', sans-serif;
  color: white;
  width: 300px;
  font-size: 25px;
}
h2, h3{
  font-weight: lighter;
}
p{
  font-size: 20px;
  font-weight: lighter;
}
footer {
  text-align: center;
  font-size: medium;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 650px;
  }
button{
  position: relative;
  top: 50px;
  width: 150px;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: thin;

}
/* Style the Nav tab */
.tabNav {
  background-color: black;
  overflow: hidden;
  position: relative;
  left: 825px;
}
.tabNav a {
  float: left;
  font-family: 'Nunito', sans-serif;
  color: white;
  display: block;
  text-align: center;
  padding: 50px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: black;
  color: white;
}
.tabNav .icon {
  display: none;
}

.bio-data{
  position: fixed;
  width: 375px;
  background-color: black;
  text-align: right;
  height: 250px;
  top: 600px;
  left: 980px;
  color: white;
}
.bio-data img{
  position: fixed;
  top: 500px;
  left: 900px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.bio-data figcaption{
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 610px;
  left: 1075px;
  text-align: left;
  font-weight: lighter;
}
.Alt1{
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 620px;
  left: 1075px;
  font-size: small;
  font-weight: lighter;
  text-align: left;
}
.Alt2{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  position: fixed;
  top: 650px;
  left: 1000px;
  width: 225px;
  text-align: justify;
}

/* When the screen is less than 750 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  button {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .tabNav a{
    display: none;
  }
  .tabNav a.icon {
    float: right;
    position: fixed;
    top: 0px;
    left: 300px;
    display: block;
    width: 25px;
    }
  .tabNav a:hover {
    color: white;
   }
  .tabNav a.active {
  background-color: black;
  color: white;
   }
  .content-wrap{
    position: absolute;
    top: 35px;
    float: left;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    left: 15px;
  }
  p{
    font-size: 15px;
    text-align: left;
  }
  img{
    position: absolute;
    top: 270px;
    width: 350px;
    height: 200px;
    float: left;
    padding: 2px;
  }
.bio-data{
  position: absolute;
  top: 405px;
  width: 300px;
  left: 40px;
  background-color: black;
  text-align: right;
  height: 150px;
  color: white;
}
.bio-data img{
  position: fixed;
  top: 415px;
  left: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px;
}
.bio-data figcaption{
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 415px;
  left: 130px;
  text-align: left;
  font-weight: lighter;
}
.Alt1{
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 425px;
  left: 130px;
  font-size: small;
  font-weight: lighter;
}
.Alt2{
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  position: fixed;
  top: 455px;
  left: 70px;
  width: 150px;
  text-align: justify;
}
footer{
    text-align: center;
    font-size: small;
    color: white;
    position: fixed;
    top: 600px;
    left: 90px;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .tabNav.responsive {
    position: relative
    ;}
  .tabNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tabNav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 20px;
  }
}
